.wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #ffffff;
  opacity: 0.9;
}

.loader {
  top: 50%;
  left: 50%;
  width: 120px;
  height: 80px;
  position: relative;
  display: inline-block;
  background-color: inherit;
  --base-color: #ffffff; /*use your base color*/
}
.loader::before {
  content: "";
  left: 0;
  top: 0;
  position: absolute;
  width: 72px;
  height: 72px;
  border-radius: 50%;
  background-color: #48f3ff;
  background-image: radial-gradient(
      circle 16px at 36px 36px,
      var(--base-color) 100%,
      transparent 0
    ),
    radial-gradient(
      circle 8px at 36px 0px,
      var(--base-color) 100%,
      transparent 0
    ),
    radial-gradient(
      circle 8px at 0px 36px,
      var(--base-color) 100%,
      transparent 0
    ),
    radial-gradient(
      circle 8px at 72px 36px,
      var(--base-color) 100%,
      transparent 0
    ),
    radial-gradient(
      circle 8px at 36px 72px,
      var(--base-color) 100%,
      transparent 0
    ),
    radial-gradient(
      circle 8px at 60px 10px,
      var(--base-color) 100%,
      transparent 0
    ),
    radial-gradient(
      circle 8px at 60px 10px,
      var(--base-color) 100%,
      transparent 0
    ),
    radial-gradient(
      circle 8px at 60px 60px,
      var(--base-color) 100%,
      transparent 0
    ),
    radial-gradient(
      circle 8px at 10px 60px,
      var(--base-color) 100%,
      transparent 0
    ),
    radial-gradient(
      circle 8px at 10px 10px,
      var(--base-color) 100%,
      transparent 0
    );
  background-repeat: no-repeat;
  box-sizing: border-box;
  animation: rotationBack 3s linear infinite;
}
.loader::after {
  content: "";
  left: 70px;
  top: 30px;
  position: absolute;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #48f3ff;
  background-image: radial-gradient(
      circle 10px at 24px 24px,
      var(--base-color) 100%,
      transparent 0
    ),
    radial-gradient(
      circle 5px at 24px 0px,
      var(--base-color) 100%,
      transparent 0
    ),
    radial-gradient(
      circle 5px at 0px 24px,
      var(--base-color) 100%,
      transparent 0
    ),
    radial-gradient(
      circle 5px at 48px 24px,
      var(--base-color) 100%,
      transparent 0
    ),
    radial-gradient(
      circle 5px at 24px 48px,
      var(--base-color) 100%,
      transparent 0
    ),
    radial-gradient(
      circle 5px at 40px 6px,
      var(--base-color) 100%,
      transparent 0
    ),
    radial-gradient(
      circle 5px at 40px 6px,
      var(--base-color) 100%,
      transparent 0
    ),
    radial-gradient(
      circle 5px at 40px 40px,
      var(--base-color) 100%,
      transparent 0
    ),
    radial-gradient(
      circle 5px at 6px 40px,
      var(--base-color) 100%,
      transparent 0
    ),
    radial-gradient(
      circle 5px at 6px 6px,
      var(--base-color) 100%,
      transparent 0
    );
  background-repeat: no-repeat;
  box-sizing: border-box;
  animation: rotationBack 4s linear infinite reverse;
}
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
